/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.card-zone {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 50%;
}

.draw-zone {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 50%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  border: 1px solid rgb(255, 0, 0);
  color: red;
  margin: 10px;
}

.draw-zone .card {
  border: 1px solid green;
  color: green;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px;
  width: 100%;
}
